@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");

/* Basic Stuff */
* {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

body, html {
	background-color: #15191d;
	color: #FFF;
	font-size: 12px;
	font-family: 'Cascadia Code', sans-serif;
	width: 100%;
	height: 100%;
}

a {
	color: #027fe9;
	text-decoration: none;
}

/* Aditional stuff */
.center {
	margin-top: 10px;
	text-align: center;
	justify-content: center;
}

.left {
	margin-left: 20px;
	text-align: left;
	justify-content: left;
}

p {
	margin-left: 90px;
	text-align: left;
	font-size: 12px;
	justify-content: left;
}

h3 {
	margin-left: -300px;
}

.flex {
	display: flex;
	justify-items: center;
	flex-wrap: nowrap;
}

.flex-item {
	margin-left: 30px;
	margin-right: 30px;
}
/* Decorations */
.pound {
	color: #166bf5;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}